extends ../layouts/basic

block main_content
   div(class="container")
      div(class="row")
         div(class="col-md-3")
            #accordion.panel-group.hidden-sm.hidden-xs(role='tablist', aria-multiselectable='true')
               .panel.panel-default
                  #headingOne.panel-heading(role="tab")
                     h4.panel-title
                        a(data-toggle="collapse", href="#collapseOne", aria-expanded="true", aria-controls="collapseOne")
                           | Price
                  #collapseOne.panel-collapse.collapse.in(role="tabpanel", aria-labelledby="headingOne")
                     .panel-body.text-center
                        input.slider.form-control(id="price", type="text", data-bind="sliderValue: {value:[minPrice, maxPrice]}", data-slider-tooltip="hide", style="width: 100%")
                        div.panel.row
                           .col.pull-left.label.label-primary
                              i.fa.fa-inr &nbsp;
                              span(data-bind="text: minPrice") 
                           .col.pull-right.label.label-primary
                              i.fa.fa-inr &nbsp;
                              span(data-bind="text: maxPrice")

               .panel.panel-default
                  #headingTwo.panel-heading(role="tab")
                     h4.panel-title
                        a(data-toggle="collapse", href="#collapseTwo", aria-expanded="true", aria-controls="collapseTwo")
                           | Airlines
                  #collapseTwo.panel-collapse.collapse.in(role="tabpanel", aria-labelledby="headingTwo")
                     .panel-body(data-bind="foreach: airlineArray, visible: true")
                        .checkbox
                           label
                              input(type="checkbox" data-bind="attr: {value: $data}, checked: $parent.airlineComputed")
                              span(data-bind="text: airlineMap[$data]")
               .panel.panel-default
                  #headingThree.panel-heading(role="tab")
                     h4.panel-title
                        a(data-toggle="collapse", href="#collapseThree", aria-expanded="true", aria-controls="collapseThree")
                           | Departure Time
                  #collapseThree.panel-collapse.collapse.in(role="tabpanel", aria-labelledby="headingThree")
                     .panel-body.text-center
                        input.slider.form-control(id="time", type="text", data-bind="sliderValue: {value: [minDepartureTime, maxDepartureTime]}", data-slider-tooltip="hide", style="width:100%")
                        div.panel
                           span.label.label-primary.pull-left(data-bind="text: moment(minDepartureTime()).format('HH:mm')")
                           span.label.label-primary.pull-right(data-bind="text: moment(maxDepartureTime()).format('HH:mm')")
                              | High
               .panel.panel-default
                  #headingFour.panel-heading(role="tab")
                     h4.panel-title
                        a(data-toggle="collapse", href="#collapseFour", aria-expanded="true", aria-controls="collapseFour")
                           | Duration
                  #collapseFour.panel-collapse.collapse.in(role="tabpanel", aria-labelledby="headingFour")
                     .panel-body.text-center
                        input(id="duration", data-slider-id="durationSlider", type="text", data-bind="sliderValue: {value: [minDuration, maxDuration]}", data-slider-tooltip="hide", style="width:100%")
                        div.panel
                           span.label.label-primary.pull-left(data-bind="text: Math.floor(moment.duration(minDuration(), 'milliseconds').asMinutes()) + ' Minutes'")
                           span.label.label-primary.pull-right(data-bind="text: Math.floor(moment.duration(maxDuration(), 'milliseconds').asMinutes()) + ' Minutes'")

               .panel.panel-default
                  #headingFive.panel-heading(role="tab")
                     h4.panel-title
                        a(data-toggle="collapse", href="#collapseFive", aria-expanded="true", aria-controls="collapseFive")
                           | Airline Class
                  #collapseFive.panel-collapse.collapse.in(role="tabpanel", aria-labelledby="headingFive")
                     .panel-body(data-bind="foreach: airlineClass")
                        .checkbox
                           label
                              input(type="checkbox" data-bind="attr: {value: $data}, checked: $parent.airlineClassSelected")
                              span(data-bind="text: $data")


                   
               //end of panel default 1
            //end of accordion panel
            //input(id="sld1", type="text")
         //end of sidebar div 
         .col-md-9
            .table-responsive
               table.table
                  thead
                     tr(data-bind="foreach: headers")
                        th(data-bind="click: $parent.sort")
                           span(data-bind="text: title")
                           //span() &nbsp;
                           //span(data-bind="if: display") 
                            // i.fa.fa-sort-asc(data-bind="if: asc")
                            // i.fa.fa-sort-desc(data-bind="if: !asc")
                  tbody(data-bind="foreach: filteredFlightData")
                     tr
                        td 
                           div
                              div
                                 img(data-bind="attr: {src: '/custom-ui/images/' + airlineCode + '.png'}")
                              div
                                 span.label.label.label-flight(data-bind="text: airlineMap[airlineCode]")
                           //end of image div
                        td
                           span(data-bind="text: moment(parseInt(takeoffTime)).format('hh:mm a')")
                        td
                           span(data-bind="text: moment(parseInt(landingTime)).format('hh:mm a')")
                        td
                           span(data-bind="text: moment.duration(duration, 'milliseconds').hours() + 'h ' + (moment.duration(duration, 'milliseconds').minutes() ? moment.duration(duration, 'milliseconds').minutes() + 'm' : '')")
                        td 
                           div
                              strong
                                 i.fa.fa-inr &nbsp;
                                 span(data-bind="text: price")
                           div
                              span.label.label-default(data-bind="text: classType")
      //end of row div        

block external_javascript
   script(type="text/javascript").
      $(document).ready(function() {
        // $("input#price").slider();
      });

      var pm = new pageModel(airlineMap, airportMap, flightsData);
      $("input#price").slider({min: pm.minPrice(), max: pm.maxPrice(), range: true});
      $("input#time").slider({min: pm.minDepartureTime(), 
                              max: pm.maxDepartureTime(), 
                              range: true});
      $("input#duration").slider({min: pm.minDuration(), 
                                  max: pm.maxDuration(),
                                  range: true});
      ko.applyBindings(pm);
      console.log(pm);
