extends ../layouts/basic

block main_content
   div(class="container")
      div(class="row")
         div(class="col-md-3") 
            h1 Side content
         div(class="col-md-9") 
            h2 Main Content
