extends ../layouts/basic

block main_content
   div(class="container")
      div(class="row")
         div(class="col-md-3")
            #accordion.panel-group(role='tablist', aria-multiselectable='true')
               .panel.panel-default
                  #headingOne.panel-heading(role="tab")
                     h4.panel-title
                        a(data-toggle="collapse", href="#collapseOne", aria-expanded="true", aria-controls="collapseOne")
                           | Price
                  #collapseOne.panel-collapse.collapse.in(role="tabpanel", aria-labelledby="headingOne")
                     .panel-body()
                        input.slider.form-control(id="price", type="text", data-bind="sliderValue: {value:[minPrice, maxPrice]}", data-slider-tooltip="hide")
                        div.panel.row
                           .col.pull-left.label.label-primary
                              i.fa.fa-inr &nbsp;
                              span(data-bind="text: minPrice") 
                           .col.pull-right.label.label-primary
                              i.fa.fa-inr &nbsp;
                              span(data-bind="text: maxPrice")

               .panel.panel-default
                  #headingTwo.panel-heading(role="tab")
                     h4.panel-title
                        a(data-toggle="collapse", href="#collapseTwo", aria-expanded="true", aria-controls="collapseTwo")
                           | Airlines
                  #collapseTwo.panel-collapse.collapse.in(role="tabpanel", aria-labelledby="headingTwo")
                     .panel-body(data-bind="foreach: airlineArray")
                        .checkbox
                           label
                              input(type="checkbox", value="", data-bind="checked: airlineChecked, data-airlineCode: airlineCode")
                              span(data-bind="text: airlineMap[airlineCode]")
               .panel.panel-default
                  #headingThree.panel-heading(role="tab")
                     h4.panel-title
                        a(data-toggle="collapse", href="#collapseThree", aria-expanded="true", aria-controls="collapseThree")
                           | Departure Time
                  #collapseThree.panel-collapse.collapse.in(role="tabpanel", aria-labelledby="headingThree")
                     .panel-body
                        input.slider.form-control(id="time", type="text", data-bind="sliderValue: {value: [minDepartureTime, maxDepartureTime]}", data-slider-tooltip="hide")
                        div.panel
                           span.label.label-primary.pull-left(data-bind="text: moment(minDepartureTime()).format('HH:mm')")
                           span.label.label-primary.pull-right(data-bind="text: moment(maxDepartureTime()).format('HH:mm')")
                              | High
               .panel.panel-default
                  #headingFour.panel-heading(role="tab")
                     h4.panel-title
                        a(data-toggle="collapse", href="#collapseFour", aria-expanded="true", aria-controls="collapseFour")
                           | Duration
                  #collapseFour.panel-collapse.collapse.in(role="tabpanel", aria-labelledby="headingFour")
                     .panel-body
                        input(id="duration", data-slider-id="durationSlider", type="text", data-bind="sliderValue: {value: [minDuration, maxDuration]}", data-slider-tooltip="hide")
                        div.panel
                           span.label.label-primary.pull-left(data-bind="text: Math.floor(moment.duration(minDuration(), 'milliseconds').asMinutes()) + ' Minutes'")
                           span.label.label-primary.pull-right(data-bind="text: Math.floor(moment.duration(maxDuration(), 'milliseconds').asMinutes()) + ' Minutes'")

                   
               //end of panel default 1
            //end of accordion panel
            //input(id="sld1", type="text")
         //end of sidebar div 
         .col-md-9
            .table-responsive
               table.table
                  thead
                     tr
                        th() Airline
                        th() Departure
                        th() Arrival
                        th() Duration
                        th() Price
                  tbody(data-bind="foreach: flightsData")
                     tr
                        td 
                           //span(data-bind="text: airlineCode")
                           img(data-bind="attr: {src: '/custom-ui/images/' + airlineCode + '.png'}")
                        td() Data
                        td() Data
                        td() Data
                        td() Data
      //end of row div        

block external_javascript
   script(type="text/javascript").
      $(document).ready(function() {
        // $("input#price").slider();
      });

      var pm = new pageModel(airlineMap, airportMap, flightsData);
      $("input#price").slider({min: pm.minPrice(), max: pm.maxPrice(), range: true});
      $("input#time").slider({min: pm.minDepartureTime(), 
                              max: pm.maxDepartureTime(), 
                              range: true});
      $("input#duration").slider({min: pm.minDuration(), 
                                  max: pm.maxDuration(),
                                  range: true});
      ko.applyBindings(pm);
      console.log(pm);
