doctype html
html(lang="en")
 head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')

  title #{title] - Travel Booking Example
  link(rel='stylesheet', href='/public/bootstrap/dist/css/bootstrap.min.css')
  link(rel='stylesheet', href='/public/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css')
  link(rel='stylesheet', href='/public/components-font-awesome/css/font-awesome.min.css')
  link(rel='stylesheet', href='/custom-ui/index.css')


 body
   nav(class="navbar navbar-default")
      div(class="container-fluid")
         div(class="navbar-header")
            button(type="button", class="navbar-toggle collapsed", data-toggle="collapse")
               span(class="sr-only") Toggle Navigation
               span(class="icon-bar")
               span(class="icon-bar")
               span(class="icon-bar")
            a(class="navbar-brand", href="#") @ilinkps

      
   block main_content

   script(type='text/javascript', src='/public/jquery/dist/jquery.min.js')
   script(type='text/javascript', src='/public/bootstrap/dist/js/bootstrap.min.js')
   script(type='text/javascript', src='/public/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js')
   script(type='text/javascript', src='/public/knockout/dist/knockout.js')
   script(type='text/javascript', src='/public/moment/moment.js')
   script(type='text/javascript', src='/custom-ui/js/bootstrap-slider-knockout-binding.js')
   script(type='text/javascript', src='/custom-ui/js/ko-filters.js')
   script(type='text/javascript', src='/custom-ui/js/data.js')
   script(type='text/javascript', src='/custom-ui/js/pageModel.js')
   block external_javascript
