doctype html
html(lang="en")
 head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')

  title #{title] - Ixigo
  link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
  link(rel='stylesheet', href='/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css')
  link(rel='stylesheet', href='/custom.css')


 body
   nav(class="navbar navbar-default")
      div(class="container-fluid")
         div(class="navbar-header")
            button(type="button", class="navbar-toggle collapsed", data-toggle="collapse")
               span(class="sr-only") Toggle Navigation
               span(class="icon-bar")
               span(class="icon-bar")
               span(class="icon-bar")
            a(class="navbar-brand", href="#") Ixigo

      
   block main_content

   script(type='text/javascript', src='/jquery/dist/jquery.min.js')
   script(type='text/javascript', src='/bootstrap/dist/js/bootstrap.min.js')
   script(type='text/javascript', src='/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js')
   script(type='text/javascript', src='/knockout/dist/knockout.js')
   block external_javascript
